* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #e91e63;
  --secondry-color: #f8f8f8;
  --third-color: #009688;
  --main-width: 4px;
  --color-boder: #222;
}
.continar {
  margin: 20px auto;
  width: 1000px;
}
.game-info {
  display: flex;
  justify-content: space-between;
}
.category span {
  text-transform: capitalize;
  color: red;
  font-weight: bold;
}
hr {
  border: 1px solid #eee;
}

.play {
  display: flex;
  margin: 20px;
  height: 324px;
  padding: 10px;
}
.play > .man-draw {
  flex: 1;
  height: 280px;
  width: 60px;
  background-color: var(--secondry-color);
  border-bottom: var(--main-width) solid var(--color-boder);
  position: relative;
  margin: auto;
  /* display: none; */
}
.play > .man-draw .stand {
  position: absolute;
  width: var(--main-width);
  background-color: var(--color-boder);
  height: 100%;
  left: 35%;
  transform: translateX(-50%);
  display: none;

}
.play > .man-draw .hang{
  display: none;
}
.play > .man-draw .hang::before {
  content: "";
  position: absolute;
  top: 0;
  left: 154px;
  width: 100px;
  height: var(--main-width);
  background-color: var(--color-boder);
}
.play > .man-draw .hang::after {
  content: "";
  position: absolute;
  top: 0;
  left: 250px;
  width: var(--main-width);
  height: 30px;
  background-color: var(--color-boder);
}
.play > .man-draw .rope {
  position: absolute;
  top: 30px;
  left: 211px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px dashed var(--color-boder);
  display: none;
}
.play > .man-draw .man {
  position: relative;
  left: 126px;
  /* display: none; */
}
.play > .man-draw .man .head {
  position: absolute;
  top: 40px;
  left: 95px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--color-boder);
  display: none;
}
.play > .man-draw .man .body {
  position: absolute;
  width: var(--main-width);
  background-color: var(--color-boder);
  height: 130px;
  left: 125px;
  top: 100px;
  display: none;

}
.play > .man-draw .man .hands{
  display: none;
}
.play > .man-draw .man .hands::after {
  content: "";
  position: absolute;
  width: 50px;
  background-color: var(--color-boder);
  height: var(--main-width);
  left: 125px;
  top: 130px;
  transform: rotate(150deg);
}

.play > .man-draw .man .hands::before {
  content: "";
  position: absolute;
  width: 50px;
  background-color: var(--color-boder);
  height: var(--main-width);
  left: 80px;
  top: 130px;
  transform: rotate(35deg);
}
.play > .man-draw .man .legs{
  display: none;
}
.play > .man-draw .man .legs::after {
  content: "";
  position: absolute;
  width: 60px;
  background-color: var(--color-boder);
  height: var(--main-width);
  left: 120px;
  top: 240px;
  transform: rotate(-150deg);
  z-index: 1;
}

.play > .man-draw .man .legs::before {
  content: "";
  position: absolute;
  width: 60px;
  background-color: var(--color-boder);
  height: var(--main-width);
  left: 73px;
  top: 242px;
  transform: rotate(-35deg);
  z-index: 1;
}
.play > .man-draw.wrong-1 .stand{
  display: block;
}
.play > .man-draw.wrong-2 .hang{
  display: block;
}
.play > .man-draw.wrong-3 .rope{
  display: block;
}
.play > .man-draw.wrong-4 .man .head{
  display: block;
}   
.play > .man-draw.wrong-5 .man .body{
  display: block;
}   
.play > .man-draw.wrong-6 .man .hands{
  display: block;
}
.play > .man-draw.wrong-7 .man .legs{
  display: block;
}


.play .letters {
  flex: 1;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.play .letters.disabled {
  pointer-events: none ;
  opacity: 0.3;
  /* cursor: not-allowed; */
}
.play .letters .letter-box {
  width: 55px;
  height: 55px;
  background-color: var(--third-color);
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
  line-height: 55px;
  text-transform: uppercase;
  cursor: pointer;
}
.play .letters .clicked {
  background-color: var(--color-boder);
  opacity: 0.3;
  pointer-events: none;
}
.letter-guess {
  margin: 10px auto;
  background-color: var(--secondry-color);
  display: flex;
  justify-content: center;
  line-height: 104px;
  padding: 20px;
}
.letter-guess span {
  height: 60px;
  width: 60px;
  text-transform: uppercase;
  border-bottom: var(--main-width) solid var(--color-boder);
  border-radius: 6px;
  text-align: center;
  line-height: 60px;
  margin-left: 20px;
  background-color: #fdfdfd;
  transition: 0.3s;
  font-size: 24px;
  font-weight: bold;
} 
.letter-guess span.Empty {
  background-color: var(--secondry-color);
  border-bottom: none;
  position: relative;
}
.letter-guess span.Empty::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: var(--color-boder);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-over {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
